{% extends 'bugtracks/base.html' %}
{% load bootstrap4 %}

{% block content %}

<p><a href="{% url 'bugtracks:project' project.id %}">{{ project }}</a></p>

<p>Edit ticket:</p>

<form method="post" action="{% url 'bugtracks:edit_ticket' ticket.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" name="save" class="btn btn-primary">Save changes</button> <button 
    type="submit" name="delete" class="btn btn-primary">Delete</button>
    {% endbuttons %}
</form>

{% endblock content %}