{% extends 'bugtracks/base.html' %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Track the bugs in your projects</h1>

    <p class="lead">Keep a log of the bugs that appear in your project, track them down and find the solution.</p>

    {% if user.is_authenticated %}
        <p></p>
    {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
        <p>Already have an account?</p>
        <a class="btn btn-sm btn-primary" href="{% url 'users:login' %}" role="button">Log in</a>
    {% endif %}
</div>

{% endblock page_header %}

