{% extends 'bugtracks/base.html' %}

{% block page_header %}
    <h1>Projects:</h1>
{% endblock page_header %}

{% block content %}

<ul>
    {% for project in projects %}
        <li><h3>
            <a href="{% url 'bugtracks:project' project.id %}">{{ project }}</a>
        </h3></li>
    {% empty %}
        <li><h3>There are no projects in development at the moment.</h3></li>
    {% endfor %}
</ul>

<h3>><a href="{% url 'bugtracks:new_project' %}">Add new project</a></h3>

{% endblock content %}