{% extends 'bugtracks/base.html' %}

{% block page_header %}
    <h1> Project: {{ project }}</h1>
{% endblock page_header %}

{% block content %}

<p>In development: {{ project.in_progress }}</p>

<p>Active Tickets: {{ no_tickets }}</p>
<p>
    <a href="{% url 'bugtracks:new_ticket' project.id %}">Create new ticket</a>
</p>
<ul>
    {% for ticket in tickets %}
        <div class="card mb-3">
            <h4 class="card-header">
                Problem: {{ ticket.bug }} <br>
                {{ ticket.date_added|date:' M d, Y H:i' }} -
                <small><a href="{% url 'bugtracks:edit_ticket' ticket.id %}">Edit ticket</a></small>
            </h4>
            <div class="card-body">
                <h5>Steps taken to find the bug:</h5>
                <p>{{ ticket.text|linebreaks }}</p>
                <h5>Error message:</h5>
                <p>{{ ticket.message|linebreaks }}</p>
                <p>Priority: {{ ticket.priority }}</p>
                <p>Assigned by: {{ ticket.owner }}</p>
        </div>
    {% empty %}
        <p>There are no tickets submitted yet.</p>
    {% endfor %}
</ul>

{% endblock content %}